body {
    background-color: hsl(271, 76%, 53%);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;

}

#click {
    border: none;
    background: hsl(271, 76%, 53%);
}

.add {
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: rebeccapurple;
    margin-left: 23px;
}

.cliker {
    float: left;
    width: 50%;
    
    border-radius: 10px;
}

.cliker h1 {
    margin-left: 120px;
    font-size: 35px;
}

.cliker button {
    margin-left: 55px;
}

.cliker p {
    margin-left: 30px;
}

.loja {
    float: left;
    width: 50%;
    width: 160px;
    height: 240px;
    background: rgb(119, 37, 202);
    border-radius: 10px;
    margin-left: 300px;
}

.loja h1{
    margin-left: 50px;
}

.loja h2{
    margin-left: 10px;
}