body {
    background-color: blueviolet;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;

}

#click {
    font-size: 100px;
    border-radius: 20px;
    background: rgb(137, 30, 237);
    ;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.add {
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: rebeccapurple;
}

.cliker {
    float: left;
    width: 50%;
}

.loja {
    float: left;
    width: 50%;
}